<!DOCTYPE html>
<html>
<head>
	<title>NewNormal</title>
	<!-- <link rel="shortcut icon" href="/images/head.png"> <!-- change image ----------------->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/03309837df.js"></script>
    <link href='/style.css' rel="stylesheet" type="text/css">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
		
    <a class="navbar-brand" href="/<%if(login===true){%>welcome<%}%>">
		<h2 style="color: white">
	  		NewNormal
	  	</h2>
		<%if(login===true){%>
		<span id="greeting_the_user">Hi, <%= user.username %></span>
		<%}%>
	</a>
	
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/aboutus" style="color: white; font-size: 16px;">About Us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/gallery/workforce" style="color: white; font-size: 16px;">Gallery</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/countries" style="color: white; font-size: 16px;">Our Branches</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/contact_us" style="color: white; font-size: 16px;">Contact Us</a>
		</li>
	</ul>
	<!-- <a href="/logout" id="signinkey">Logout</a> -->

  <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About Us <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Jobs</a>
          <a class="dropdown-item" href="#">HealthCare</a>
          <a class="dropdown-item" href="#">Education</a>
        </div>
      </li>
    </ul>
	 
  </div> -->
		
</nav>
	
		<div class="area">
			<div class="sidebar">
					<div id="icons">
						<p><a href="/courses"><i class="fa fa-pencil icon" aria-hidden="true"></i></a></p>
						<p><a href="/doctors"><i class="fa fa-medkit icon" aria-hidden="true"></i></a></p>
						<p><a href="/job_opportunities"><i class="fa fa-laptop icon" aria-hidden="true"></i></a></p>
						<p><a href="/create_link"><i class="fa fa-phone icon" aria-hidden="true"></i></a></p>						
						<p><a href="/news/world"><i class="fa fa-newspaper-o icon" aria-hidden="true"></i></a></p>
						<%if(login===true){%>
						<p><a href="/logout"><i class="fa fa-power-off icon" id="power" aria-hidden="true"></i></a></p>
						<%}%>
					</div>
			</div>
		</div>
	
	<h1 id="brandheading">
		NewNormal
		<p id="tagline">
			World from Home!
		</p>
	</h1>