<%- include ("partials/headerforall") %>

<h1 id="aboutus_head">
	About Us
</h1>

<div id="aboutus_div">
	<p>
		NewNormal attempts to enhance lives, by providing top tier Education, Medical care and Employment facilities to those in need. By acting as a bridge between those ready to help and those needing assistance, NewNormal targets developing an uninterrupted way of life for the affected during this pandemic. By "World from Home", we aim at providing admittance to all our facilities and services with a rationale to serve the society.
	</p>
	
	<img id="aboutus_education_img" src="https://s3.amazonaws.com/media.al-fanarmedia.org/wp-content/uploads/2020/03/18171813/shutterstock_517415605-scaled.jpg">
	<h3 id="aboutus_education">
		Free Online Education
	</h3>
	<p id="aboutus_education_para">
		Education system which has been brought to a halt by the ongoing crisis will no more represent a danger for the students in consistent pursuit of knowledge. With a huge range of courses and study materials to choose from, students can fulfil their steady hunger for knowledge. By our online education services, we intend to connect the students with certified educators and graduates ready to give their study materials or courses in their field of expertise.
	</p>
	
	<img id="aboutus_medical_img" src="https://unitedwithisrael.org/wp-content/uploads/2015/06/shutterstock_202325818-e1433766480815-890x400.jpg">
	<h3 id="aboutus_medical">
		We Provide Healthcare
	</h3>
	<p id="aboutus_medical_para">
		Medical care has been one of the most challenging things during this pandemic. By our healthcare services, we empower patients to interface with certified specialists across the globe with simply a click of a button. Patients get to access our enrolled specialist’s database, schedule an appointment and have a free examining session.
	</p>
	
	<img id="aboutus_unemp_img" src="https://i2-prod.mirror.co.uk/incoming/article8008409.ece/ALTERNATES/s615/Woman-working-from-home.jpg">
	<h3 id="aboutus_unemp">
		How We Handle Unemployment?
	</h3>
	<p id="aboutus_unemp_para">
		With the ongoing crisis, causing a few issues. Unemployment has been unavoidable as a part of organizations reducing expenses. At NewNormal, we give a stage to the jobseekers and recruitment specialists an opportunity to connect with one another.
	</p>

</div>

<div id="aboutus_trademarkset">
	<p id="tradeMark">
		Trademark NewNormal 2020. All Rights Reserved
	</p>
	<!-- <p id="createdBy">
		BY KD
	</p> -->
</div>
<script src="/js/fade.ejs"></script>
</body>
</html>